
{%extends "layout.html"%}
{% block body %}	

<div class="image_girl_and_shoes">

<h1> {{name}} </h1>

	<a href="https://www.pinterest.com/pin/408138784952687829/"> <img class="girl_image" src="../static/images/girl.jpg"> </a></img> 
</div>
<div class="image_girl_and_shoes">
	<a href="https://www.pinterest.com/lyndanna/red-shoes-group/"> <img class="shoes_image" src="../static/images/shoes1.jpg"> </a></img> 
</div>

<div class="image_next_to_text" >
<h4> ABOUT ME :- </h4>
<ul>
	<li> My Name is Bakeza Diazada . </li>
	<li> I`m 15 years old .</li>
	<li>I`m a Designer and programmer .</li>
</ul>
</div>

<div class="image_next_to_text">
	<img class="picture_of_me" src="../static/images/me.jpg"> </img> 
</div>
{%endblock%}
