
<html>
<head>
{%block head%}
{%endblock%}
</head>
<body>

<h1> <img src= "../static/images/illustration.jpg" width="100%"> </img>  </h1>

<h3> Sections:</h3>
<div  class ="nav_bar">
	<ul> 
	
	<li> <a href="/dresses" > Dresses </a>   </li>
	<li> <a href="/pants" >Pants </a> </li>
	<li> <a href="/t-shirts" > T-Shirts </a></li>
	<li> Shoes </li>
	<li> Accessories </li>
	<li> Bags </li>
</ul>


<ul>
	<li id="home_center"> <a href="/" > Home </a> </li>
</ul>

</div>


	

{%block body%}{%endblock%}
	
</body>
</html>
